<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      WhatsApp
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedSegment" >
    <ion-segment-button value="comunidad">
      <ion-icon name="people-sharp"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="chats">
      <ion-label>Chats</ion-label>
    </ion-segment-button>
    <ion-segment-button value="novedades">
      <ion-label>Novedades</ion-label>
    </ion-segment-button>
    <ion-segment-button value="llamadas">
      <ion-label>Llamadas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="selectedSegment ==='chats'">
    <app-chats></app-chats>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success">
        <ion-icon name="chatbox"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>

  <ng-container *ngIf="selectedSegment ==='comunidad'">
    <app-comunidad></app-comunidad>
  </ng-container>

  
  <ng-container *ngIf="selectedSegment ==='novedades'">
    <app-novedades></app-novedades>
  </ng-container>

  <ng-container *ngIf="selectedSegment ==='llamadas'">
    <app-llamadas></app-llamadas>
  </ng-container>
 
</ion-content>

